@import 'material-design-lite';

body {
  background: url(/assets/img/ep_naturalblack.png);
  background-color: #ddd;
  color: #fff;
  height: 100%;
}

#howto {
    display: block;
    width: 700px;
    margin: 0 auto;
}

#intro {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 5%;
  z-index: 10;

  a {
    text-decoration: none;
  }
}

#intro > h1 {
    font-size: 45px;
    text-align: center;
}

.intro-list {
    text-align: left;
    line-height: 45px;
    list-style-type: none;
}

.intro-list li {
    counter-increment: step-counter;
    font-size: 20px;
}

.intro-list li::before {
    content: counter(step-counter);
    margin-right: 15px;
    font-size: 80%;
    background-color: #50BACC;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 500px;
}

.intro-list li.completed .instruction{
  text-decoration: line-through;
  color: #AEAEAE;
}
.intro-list li.completed::before {
  font-family: 'Material Icons';
  content: "check";
  text-decoration: none;
}

input[type="color"] {
    -webkit-appearance: none;
    background-color: #fff;
    border: none;
    width: 22px;
    height: 22px;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

.color-pallet {
    padding-bottom: 20px;
}

.project {
    background-color: #fff;
    width: 100%;
    height: 100%;
    color: #737373;
}

body > div.ember-view {
    height: 100%;
}

.sidebar {
    width: 333px;
    height: 100%;
    background-color: #fafafa;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    top: 64px;
    box-shadow: 0px 2px 7px 0px rgba(144, 144, 144, 0.50);
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.logo {
    padding: 35px 50px;
}

.logo > img {
    width: 235px;
}

.sidebar-data {
    margin: 0 27px 158px;
}

.sidebar-buttons {
    padding: 2em 27px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ECECEC;

    h4 {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0;
    }
}

.button {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 47%;
    height: 45px;
    font-size: 16.2px;
    color: #FFF;
    font-weight: 400;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

.button-frame {
    margin: 20px 0;
    width: 100%;
}

.button-green {
    background-color: #50BACC !important;
}

.button-green:hover {
    background-color: #6CC9D8 !important;
}

.button-orange {
    background-color: #F28834 !important;
}

.button-orange:hover {
    background-color: #FFA258 !important;
}

.button-red {
    background-color: #ff6161 !important;
}

.button-red:hover {
    background-color: #ff7676 !important;
}

.button-blue {
    background-color: #3179B1 !important;
}

.button-blue:hover {
    background-color: #3788C7 !important;
}

.button-center {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.frame {
    font-family: 'Open Sans', sans-serif;
    color: #909090;
    font-weight: 100;
    margin-top: 18px;
    width: 100%;
    min-height: 104.5px;
    background-color: #F3F3F3;
    &.selected {
      background-color: #FEFEFE;
    }
}

.margin-tb12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.margin-b12 {
    margin-bottom: 12px;
}

.margin-tb25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-t25 {
    margin-top: 25px;
}

.wrapper {
    margin: 10px 25px 0;
}

.mdl-grid {
    padding: 0 !important;
}

.font-medium {
    font-size: 17px;
    line-height: 22px;
}

.pointer {
    cursor: pointer;
}

.frame-controls > i, a {
    margin: 0 6.3px;
}

.frame-footer {
    padding: 14.4px 10.8px;
}

.sidebar-footer {
    padding: 18px 27px;
    margin-top: 20px;
    border-top: 1px solid;
    border-color: #ECECEC;
    bottom: 0;
    background-color: #fefefe;
    position: fixed;
    width: 279px;
    z-index: 2;
}

.sidebar-footer > p {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    color: #afafaf;
}

.main-content {
    margin-left: 333px !important;
    position: relative;
    overflow: hidden;
}

.top-bar {
    width: 75%;
    margin: 0 auto;
    background: #fafafa;
    box-shadow: 0px 0px 4px 0px rgba(145, 145, 145, 0.50);
    border-radius: 0 0 10px 10px;
    top: 0;
    max-height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 0;
}

.bottom-bar {
    max-height: 120px;
    width: 75%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(145, 145, 145, 0.50);
    border-radius: 10px 10px 0 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 0;
}

.top-bar > p {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin: 0 20px 0;
}

.top-details {
    text-align: center;
    color: #909090;
}

.top-details > div {
    color: #909090;
    font-size: 16px;
    font-weight: 100;
}

.slider-label {
    margin: 0 25px 15px;
    font-size: 16px;
    font-family: 'Open Sans';
}

.checkbox {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.frame-add {
    text-align: center;
    margin: 15px;
    font-weight: 700;
}

.low-opacity {
    transition: opacity 0.5s ease;
    cursor: pointer;
    opacity: 0.2;
}

.low-opacity:hover {
    opacity: 1;
}

.heading {
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Open Sans';
}

.paragraph {
    text-align: justify;
}

.data-status {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    padding: 5px;
    vertical-align: middle;
}

.data-present {
    background-color: #00d64c;
}

.data-absent {
    background-color: #f10059;
}

.full-width {
    width: 100% !important;
}

.x-file--input + label {
    width: 100%;
}

.dialog {
    padding: 50px;
    color: rgba(0, 0, 0, 0.54);
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.dialog-medium {
    width: 600px;
}

.dialog-small {
    width: 500px;
}

dialog::backdrop {
    background: rgba(57, 57, 57, 0.88);
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.margin-right {
    margin-right: 15px;
}

.nodes {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50px;
    bottom: 0;
}

.margin-left {
    margin-left: 15px;
}

.column-items {
    max-height: 300px;
    overflow-y: scroll;
}

.column-items > div {
    margin: 5px 5px 10px;
    min-height: 80px;
    width: 98%;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify;
    background-color: #FEFEFE;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.column-items > div.active {
    opacity: 1 !important;
    background-color: #f9e4fd !important;
}

.column-items > div:hover {
    cursor: pointer;
    background-color: #FEFEFE;
    opacity: 1;
}

.labels-heading {
    font-size: 16px;
    font-weight: 700;
}

.nostyle-link {
    text-decoration: none;
    color: #909090;
}

.nodeinfo {
    display: none;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px rgba(145, 145, 145, 0.5);
    position: fixed;
    z-index: 20;
    bottom: 15px;
    left: 350px;
    right: 15px;
    background-color: rgb(255, 255, 255);
}

.view-nodeinfo {
    top: 40%;
    left: 5%;
}

.nodefield .question {
    line-height: 22px;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
}

.nodefield .question > span {
    color: #3179b1;
}

.nodefield > p {
    margin-bottom: 10px;
    font-size: 16px;
}

.nodefield > p > span {
    font-weight: 700;
    color: #50bacc;
}

.hideinfo {
    cursor: pointer;
    position: absolute;
    color: #909090;
    right: 0;
    top: 0;
    margin: 10px;
}

.nodeinfolist {
    margin: 20px 20px 0;
    max-height: 130px;
    overflow-y: scroll;
}

.view-top {
    font-family: "Open Sans";
    font-weight: 100;
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 2px 7px 0px rgba(144, 144, 144, 0.5);
    position: fixed;
    z-index: 100;
}

.view-top {
    display: inline-block;
    vertical-align: middle;

    .project-info {
      padding: 8px 20px;

      h1 {
        margin: 0;
        font-size: 2em;
      }

      .view-logo {
        margin: 0;
        float: right;
        img {
          height: 40px;
        }
      }
    }

    .frame-info {
      text-align: center;
      border-top: 1px solid #ECECEC;
      h2 {
        margin: 0;
        line-height: 2em;
        font-size: 1.5em;
      }
    }
}



.notification-link {
  color: #fff !important;
}

.notification-bottom {
    max-width: 420px !important;
    position: absolute !important;
    bottom: 170px !important;
}

.view-controls {
    width: 700px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0 auto;
}

/************/

#canvas-wrapper {
  position: relative;
}

#foci-labels {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.label {
  position: absolute;
  max-width: 150px;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 2px 5px 3px;
  max-width: 135px;
  text-align: center;
  z-index: 10;
  color: #444;
  font-weight: bold;
}

.view-main #canvas-wrapper {
  position: absolute;
  top: 100px;
  left: 50px;
}

/*** Project view ***/

.project-view {
  font-family: Roboto !important;
  header {
    height: 100px;
  }

  h1 {
    margin: 0;
    padding-left: 1em;
    padding-top: 0.15em;
  }

  h2 {
    margin: 0;
    padding-top: 0.3em;
    font-weight: 100;
    color: #454545;
  }

  .nodeinfo {
    bottom: 1em;
    width: auto;
    left: 15px;
    right: 15px;
  }

}

.view-main {
  text-align: center;
  bottom: 0;
}

/*** End Project view ***/

.scrolling-frame {
  background: #f3f3f3;
  &:nth-child(odd) {
    background: #E4E4E4;
  }
}

#import-types {
  list-style: none;
}

.group-labels {
  max-height: 300px;
  overflow-y: auto;
}

.frame-controls .mdl-button--icon.mdl-button--colored {
  color: #f28834;
}

.dot {
  cursor: pointer;
}

.backgrounded {
  background-image: url(/assets/img/dots.png), url(/assets/img/dots.png);
  background-position: bottom -6em left -3em, top -13em right -5em;
  background-size: 450px, 450px;
  background-repeat: no-repeat, no-repeat;

  h1, h2 {
    font-weight: 100;
    z-index: 10;
  }
  h2 {
    font-size: 2em;
  }
}

.content {
  max-width: 800px;
  margin: 2em auto 0;
  background-color: rgba(28, 28, 28, 0.77);
  padding: 0.5em 2em 3em;
  border-radius: 10px;
}

.project-title {
  input {
    font-size: 2em;
    text-align: center;
  }
}

/*** Gallery ***/
#gallery {
  height: 100%;
}

#projects {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 1em;
  }
}

.project-thumb {
  img {
    width: 100%;
    margin: 0.4em 0;
  }
  .mdl-card__actions {
    text-align: center;
  }
  .mdl-button {
    width: 85%;
  }
}

/*** About page ***/
#about {
  min-height: 720px;
  font-family: Roboto;

  p {
    font-size: 1.3em;
    line-height: 1.8em;
  }

  ul {
    font-size: 1em;
  }

  .sample {
    text-align: center;

    video {
      width: 60%;
    }
  }
}

/*** Landing page ***/
#front {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 720px;
  font-family: Roboto;
  .mdl-grid {
    height: 100%;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#text-col, #image-col {
  text-align: center;

  .content {
    margin-top: 20%;
  }
}

#text-col {
  width: 55%;

  .buttons {
    text-align: center;
    z-index: 10;
  }

  .mdl-button {
    color: #F3F3F3;
    height: 49px;
    line-height: 49px;
    width: 50%;
    font-weight: 400;
    margin: 0.5em;
    font-size: 21px;
  }

  .content {
    max-width: 650px;
  }
}
#image-col {
  flex-grow: 1;
  background: #333;
  box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.19);

  .content {
    background-color: transparent;
  }

  video {
    width: 92%;
    max-width: 600px;
  }
}

/*** End Landing page ***/

/*** Header ***/
header#top-bar {
  background: #4591de;
  position: relative;

  #bkc-logo {
    position: absolute;
    right: 5em;
    img {
      height: 3.4em;
    }
  }
}
/*** End Header ***/


#help-button {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  color: #666;
}


/*** Responsiveness ***/

@media only screen and (max-width: 1000px) {
    .top-bar {
        width: 90%;
    }

    .bottom-bar {
        width: 90%;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .top-bar {
        width: 90%;
    }

    .bottom-bar {
        width: 90%;
    }
}
