@import 'material-design-lite';

#dotplot-howto {
    display: block;
    width: 700px;
    margin: 0 auto;
}

input[type="color"] {
    -webkit-appearance: none;
    background-color: #fff;
    border: none;
    width: 22px;
    height: 22px;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

.dotplot-color-pallet {
    padding-bottom: 20px;
}

body {
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    color: #737373;
}

body > div.ember-view {
    height: 100%;
}

.dotplot-sidebar {
    width: 333px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    top: 0;
    box-shadow: 0px 2px 7px 0px rgba(144, 144, 144, 0.50);
}

.dotplot-sidebar::-webkit-scrollbar {
    display: none;
}

.dotplot-logo {
    padding: 35px 50px;
}

.dotplot-logo > img {
    width: 235px;
}

.dotplot-sidebar-data {
    margin: 0 27px 158px;
}

.dotplot-sidebar-buttons {
    padding: 20px 27px 5px;
    background-color: #fefefe;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ECECEC;
}

.dotplot-load-buttons {
    margin-bottom: 10px;
}

.dotplot-button {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 47%;
    height: 45px;
    font-size: 16.2px;
    color: #FFF;
    font-weight: 400;
}

.dotplot-float-right {
    float: right;
}

.dotplot-float-left {
    float: left;
}

.dotplot-text-right {
    text-align: right;
}

.dotplot-button-green {
    background-color: #50BACC !important;
}

.dotplot-button-green:hover {
    background-color: #6CC9D8 !important;
}

.dotplot-button-orange {
    background-color: #F28834 !important;
}

.dotplot-button-orange:hover {
    background-color: #FFA258 !important;
}

.dotplot-button-red {
    background-color: #ff0057 !important;
}

.dotplot-button-red:hover {
    background-color: #ff3479 !important;
}

.dotplot-button-blue {
    background-color: #3179B1 !important;
}

.dotplot-button-blue:hover {
    background-color: #3788C7 !important;
}

.dotplot-button-center {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.dotplot-frame {
    font-family: 'Open Sans', sans-serif;
    color: #909090;
    font-weight: 100;
    margin-top: 18px;
    width: 100%;
    min-height: 104.5px;
    background-color: #FEFEFE;
}

.dotplot-margin-tb12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.dotplot-margin-b12 {
    margin-bottom: 12px;
}

.dotplot-margin-tb25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.dotplot-margin-t25 {
    margin-top: 25px;
}

.dotplot-wrapper {
    margin: 10px 25px 0;
}

.mdl-grid {
    padding: 0 !important;
}

.dotplot-font-medium {
    font-size: 17px;
    line-height: 22px;
}

.dotplot-pointer {
    cursor: pointer;
}

.dotplot-frame-controls > i, a {
    margin: 0 6.3px;
}

.dotplot-frame-footer {
    padding: 14.4px 10.8px;
}

.dotplot-sidebar-footer {
    padding: 18px 27px;
    margin-top: 20px;
    border-top: 1px solid;
    border-color: #ECECEC;
    bottom: 0;
    background-color: #fefefe;
    position: fixed;
    width: 279px;
    z-index: 2;
}

.dotplot-sidebar-footer > p {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    color: #afafaf;
}

.dotplot-main-content {
    margin-left: 333px !important;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.dotplot-top-bar {
    width: 75%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(145, 145, 145, 0.50);
    border-radius: 0 0 10px 10px;
    top: 0;
    max-height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 0;
}

.dotplot-bottom-bar {
    max-height: 120px;
    width: 75%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(145, 145, 145, 0.50);
    border-radius: 10px 10px 0 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 0;
}

.dotplot-top-bar > p {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin: 0 20px 0;
}

.dotplot-top-details {
    text-align: center;
    color: #909090;
}

.dotplot-top-details > div {
    color: #909090;
    font-size: 16px;
    font-weight: 100;
}

.dotplot-slider-label {
    margin: 0 25px 15px;
    font-size: 16px;
    font-family: 'Open Sans';
}

.dotplot-checkbox {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.dotplot-frame-add {
    text-align: center;
    margin: 15px;
    font-weight: 700;
}

.dotplot-low-opacity {
    transition: opacity 0.5s ease;
    cursor: pointer;
    opacity: 0.2;
}

.dotplot-low-opacity:hover {
    opacity: 1;
}

.dotplot-heading {
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Open Sans';
}

.dotplot-paragraph {
    text-align: justify;
}

.dotplot-data-status {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    padding: 5px;
    vertical-align: middle;
}

.dotplot-data-present {
    background-color: #00d64c;
}

.dotplot-data-absent {
    background-color: #f10059;
}

.dotplot-full-width {
    width: 100% !important;
}

.x-file--input + label {
    width: 47%;
}

.dotplot-dialog {
    padding: 50px;
    color: rgba(0, 0, 0, 0.54);
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.dotplot-dialog-medium {
    width: 600px;
}

.dotplot-dialog-small {
    width: 500px;
}

dialog::backdrop {
    background: rgba(57, 57, 57, 0.88);
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.dotplot-margin-right {
    margin-right: 15px;
}

.dotplot-nodes {
    height: 65%;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    top: 105px;
    bottom: 0;
    position: relative;
}

.dotplot-margin-left {
    margin-left: 15px;
}

.dotplot-column-items {
    max-height: 300px;
    overflow-y: scroll;
}

.dotplot-column-items > div {
    margin: 5px 5px 10px;
    min-height: 80px;
    width: 98%;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify;
    background-color: #FEFEFE;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.dotplot-column-items > div.active {
    opacity: 1 !important;
    background-color: #f9e4fd !important;
}

.dotplot-column-items > div:hover {
    cursor: pointer;
    background-color: #FEFEFE;
    opacity: 1;
}

.dotplot-labels-heading {
    font-size: 16px;
    font-weight: 700;
}

.dotplot-nostyle-link {
    text-decoration: none;
    color: #909090;
}

.dotplot-nodeinfo {
    display: none;
    width: 360px;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px rgba(145, 145, 145, 0.5);
    position: absolute;
    z-index: 20;
    top: 200px;
    left: 450px;
    background-color: #fff;
}

.dotplot-view-nodeinfo {
    top: 40%;
    left: 5%;
}

.dotplot-nodefield > h2 {
    line-height: 22px;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
}

.dotplot-nodefield > h2 > span {
    color: #3179b1;
}

.dotplot-nodefield > p {
    margin-bottom: 10px;
    font-size: 16px;
}

.dotplot-nodefield > p > span {
    font-weight: 700;
    color: #50bacc;
}

.dotplot-hideinfo {
    cursor: pointer;
    position: absolute;
    color: #909090;
    right: 0;
    top: 0;
    margin: 10px;
}

.dotplot-nodeinfolist {
    margin: 20px;
    max-height: 300px;
    overflow-y: scroll;
}

.dotplot-view-top {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 2px 7px 0px rgba(144, 144, 144, 0.5);
}

.dotplot-view-top > h3 {
    font-weight: 100;
    margin: 0 20px;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

.dotplot-view-logo {
    display: inline-block;
    margin: 20px;
}

.dotplot-view-main {
    text-align: center;
    top: 110px;
    bottom: 0;
}

.dotplot-notification-link {
  color: #fff !important;
}

.dotplot-notification-bottom {
    max-width: 420px !important;
    position: absolute !important;
    bottom: 170px !important;
}

.dotplot-view-controls {
    width: 700px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .dotplot-top-bar {
        width: 90%;
    }

    .dotplot-bottom-bar {
        width: 90%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .dotplot-top-bar {
        width: 90%;
    }

    .dotplot-nodes > svg {
        width: 600px !important;
        height: 400px !important;
    }

    #dotplot-introSteps {
        width: 600px;
    }

    .dotplot-bottom-bar {
        width: 90%;
    }
}
