<div id="about" class="backgrounded">
  <header class="mdl-layout__header" id="top-bar">
    <div class="mdl-layout__header-row">
      <img src="/assets/img/dotplot-logo-light.png" id="dotplot-logo" alt="DotPlot logo" />
      <img src="/assets/img/bkc_logo_white.png" id="bkc-logo" alt="Berkman Klein Center for Internet & Society logo" />
    </div>
  </header>

  <img class="accent" id="bottom-accent" src="/assets/img/dots.png" alt=""/>
  <img class="accent" id="top-accent" src="/assets/img/dots.png" alt=""/>
  <div class="content">
    <h1>About DotPlot</h1>

    <p>
      Dotplot is a visualization tool that allows you to tell a story about
      data.  The tool has been created by the Berkman Klein Center for Internet
      &amp; Society. An initial version of the tool was supported by Google
      Summer of Code. Dotplot is an open access project. All code can be found
      on <a href="https://github.com/berkmancenter/dotplot/">Github</a>.
    </p>

    <p>
      Our primary use case is mapping a diverse community of people in
      a playful and interactive way. All too often, the only way to get a sense
      of event attendees or members of a distributed network is to do
      a significant amount of searching for resumes and background
      information.This research takes excessive time and effort, and it makes
      what should be an exciting and fun -- meeting new people and finding
      potential collaborators -- into a chore, something to be avoided or put
      off. This is where Dotplot intervenes, bringing a sense of joy and
      discovery back into the process and helping to facilitate even more
      discoveries of commonalities and uniqueness among group members. 
    </p>

Add: https://i.imgur.com/hePKkim.gifv

    <p>
      Don’t be scared to use Dotplot -- it should be pretty easy! All you need
      to generate a dynamic visualization is data collected in a spreadsheet
      (as CSV file), possibly gathered through survey questions. Dotplot then
      visualizes the data for you.
    </p>

    <p>
      Each question is visualized in a "frame".
    </p>

[Add better image]

    <p>
      Each dot represents one individual (see more use cases below).
    </p>

    <p>
      By clicking on a dot, you can see all other responses given by that individual.
    </p>

    <p>
      Other instances we think Dotplot might be useful:
      <ul>
        <li>
          Showcase the variety of projects your organization is working on and add
          information about starting dates, thematic foci, people working on it,
          type of work, etc.
        </li>
        <li>
          Compare different educational initiatives with each other and see what
          elements they tend to focus on.
        </li>
      </ul>
    </p>    
  </div>
</div>
