<div id="about" class="backgrounded">
  <header class="mdl-layout__header" id="top-bar">
    <div class="mdl-layout__header-row">
      <a href="/" id="dotplot-logo"><img src="/assets/img/dotplot-logo-light.png" alt="DotPlot logo" /></a>
      <a href="https://cyber.harvard.edu/" id="bkc-logo"><img src="/assets/img/bkc_logo_white.png" alt="Berkman Klein Center for Internet & Society logo" /></a>
    </div>
  </header>
  <div class="content">
    <h1>About DotPlot</h1>
    <p>
      Developed by the Berkman Klein Center for Internet &amp; Society, Dotplot
      is a visualization tool that allows you to tell a story about data. Our
      primary use case is mapping a diverse community of people in a playful
      and interactive way. All too often, the only way to get a sense of event
      attendees or members of a distributed network is to search for and review
      a significant amount of resumes and background information. This approach
      takes excessive time and effort, and turns what should be exciting and
      fun &mdash; meeting new people and finding potential collaborators
      &mdash; into a chore, something to be avoided or put off. This is where
      Dotplot intervenes, bringing a sense of joy back into the process and
      helping to facilitate even more discoveries of commonalities and
      uniqueness among group members.
    </p>

    <p class="sample">
      <video src="/assets/vids/scroll.mp4" autoplay="true" loop="true"></video>
    </p>

    <p>
      Don’t be scared to use Dotplot &mdash; it should be pretty easy! To
      generate a dynamic visualization, all you need is data collected in
      a spreadsheet (in the form of a CSV file), possibly gathered through
      survey questions. Dotplot then visualizes the data for you.
    </p>

    <p>
      Each question is visualized in a "frame".
    </p>

    <p>
      Each dot represents one individual (see more use cases below).
    </p>

    <p>
      By clicking on a dot, you can see all other responses given by that individual.
    </p>

    <p>
      Dotplot might also be useful for:
      <ul>
        <li>
          Showcasing the variety of initiatives your organization is working on
          &mdash; highlighting information about starting dates, thematic foci,
          people working on the project, type of work, etc.
        </li>
        <li>
          Comparing different educational initiatives to better understand
          common themes, and areas of discrepancy
        </li>
      </ul>
    </p>

    <p>
      An initial version of the tool was supported by Google Summer of Code.
      Dotplot is an open source project &mdash; its code can be found on <a
      href="https://github.com/berkmancenter/dotplot/">Github</a>.
    </p>
  </div>
</div>
