<div id="gallery" class="backgrounded">
  <header class="mdl-layout__header" id="top-bar">
    <div class="mdl-layout__header-row">
      <img src="/assets/img/dotplot-logo-light.png" id="dotplot-logo" alt="DotPlot logo" />
      <img src="/assets/img/bkc_logo_white.png" id="bkc-logo" alt="Berkman Klein Center for Internet & Society logo" />
    </div>
  </header>

  <div class="accents">
    <img class="accent" id="bottom-accent" src="/assets/img/dots.png" alt=""/>
    <img class="accent" id="top-accent" src="/assets/img/dots.png" alt=""/>
  </div>
  <div class="content">
    <h1>Gallery</h1>
    <ul id="projects">
      <li>
        <div class="project-thumb mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Project Sample</h2>
          </div>
          <div class="mdl-card__supporting-text">
            This is a project demonstrating some of the capabilities of Dotplot.
            <img src="/assets/img/sample_thumb.png" />
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" href="/projects/sample">
              View
            </a>
          </div>
          <div class="mdl-card__menu">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

