<div id="gallery" class="backgrounded">
  <header class="mdl-layout__header" id="top-bar">
    <div class="mdl-layout__header-row">
      <a href="/" id="dotplot-logo"><img src="/assets/img/dotplot-logo-light.png" alt="DotPlot logo" /></a>
      <a href="https://cyber.harvard.edu/" id="bkc-logo"><img src="/assets/img/bkc_logo_white.png" alt="Berkman Klein Center for Internet & Society logo" /></a>
    </div>
  </header>
  <div class="content">
    <h1>Gallery</h1>
    <ul id="projects">
      <li>
        <div class="project-thumb mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Project Sample</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p>
              This is a project demonstrating some of the capabilities of Dotplot.
            </p>
            <img src="/assets/img/sample_thumb.png" />
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" href="/projects/sample">
              View
            </a>
          </div>
          <div class="mdl-card__menu">
          </div>
        </div>
      </li>
      <li>
        <div class="project-thumb mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">AI + Inclusion</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p>
              A visualization of responses to a survey of participants in the
              Global Symposium on Artificial Intelligence and Inclusion.
            </p>
            <img src="/assets/img/ai_thumb.png" />
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" href="/projects/ai">
              View
            </a>
          </div>
          <div class="mdl-card__menu">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

