<div id="front">
  <header class="mdl-layout__header" id="top-bar">
    <div class="mdl-layout__header-row">
      <img src="/assets/img/dotplot-logo-light.png" id="dotplot-logo" alt="DotPlot logo" />
      <img src="/assets/img/bkc_logo_white.png" id="bkc-logo" alt="Berkman Klein Center for Internet & Society logo" />
    </div>
  </header>
  <div class="backgrounded" id="text-col">
      <img class="accent" id="bottom-accent" src="/assets/img/dots.png" alt=""/>
      <img class="accent" id="top-accent" src="/assets/img/dots.png" alt=""/>
    <div class="content">
      <h1>Visualize data in a playful and interactive way!</h1>
      <div class="buttons">
        {{#link-to 'about' classNames='mdl-button button-green'}}
          Learn more about Dotplot
        {{/link-to}}
        {{#link-to 'projects.new' classNames='mdl-button button-red'}}
          Create your visualization
        {{/link-to}}
        {{#link-to 'projects.edit' 'sample' classNames='mdl-button button-blue'}}
          Play with sample data
        {{/link-to}}
        {{#link-to 'gallery' classNames='mdl-button button-orange'}}
          See visualization examples
        {{/link-to}}
      </div>
    </div>
  </div><div id="image-col">
    <div class="content">
      <video src="/assets/vids/scroll.mp4" autoplay="true" loop="true"></video>
    </div>
  </div>
</div>
