<p>This is a paragraph.</p>
{{#link-to 'projects.new' classNames='mdl-button dotplot-button dotplot-button-orange'}}
  Create
{{/link-to}}
{{#link-to 'gallery' classNames='mdl-button dotplot-button dotplot-button-blue'}}
  Gallery
{{/link-to}}
