<h1>Welcome to Dotplot!</h1>
<p>Dotplot is a tool to visualize data in a new way.</p>
<p>Right now, it works best with survey responses from Qualtrics.</p>
{{#link-to 'projects.new' classNames='mdl-button button-orange'}}
  Get Started
{{/link-to}}
{{#link-to 'gallery' classNames='mdl-button button-blue'}}
  See What's Possible
{{/link-to}}
